{{define "base"}}
<!DOCTYPE html>

<html lang="es">

<head>
    <link rel="stylesheet" href="./www/assets/styles/base.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Website description..." />
    <meta name="keywords" content="Keywords1, keywords2, so on..." />
    <meta name="author" content="Your name as developer..." />

    <!-- LATO GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;400;500;600;700;800&display=swap" rel="stylesheet">    <!-- LATO GOOGLE FONT -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/EasePack.min.js"></script>


    <link rel="stylesheet" href="./www/assets/styles/menu/menu.css">
    <link rel="stylesheet" href="./www/assets/styles/menu/menu-list.css">
    <link rel="stylesheet" href="./www/assets/styles/menu/menu-link.css">
    <link rel="stylesheet" href="./www/assets/styles/menu/menu-list-item.css">

    <title>HTML GO</title>

    {{block "css" .}}
    {{end}}
</head>

<body>
    <section class="menu">
        <nav class="menu_nav">
            <ul class="menu__list">
                <li class="menu__list__item"><a class="menu__link" href="/" >Home</a>
                </li>
                <li class="menu__list__item"><a class="menu__link" href="about" >About</a>
                </li>
            </ul>
        </nav>
    </section>

    {{block "content" .}}

    {{end}}


    {{block "js" .}}
    {{end}}

    <script type="module" src="./www/assets/js/app.js"></script>

</body>


</html>
{{end}}